.fondo {
    background-image: url(fondoBio.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.table-custom {
    background: linear-gradient(to left, #4b6cb7, #182848);
    color: white;
    border-radius: 15px;
    transition: background 1s; 
}

.table-custom:hover {
    background: linear-gradient(to left, #3e5997, #0c1526); 
}

.table-custom:hover tr {
    color: inherit; 
}

.navbar-custom {
    background: linear-gradient(to right, #4b6cb7, #182848);
}

body {
    background: linear-gradient(to bottom, #ffffff, #87afff);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.mx-10 {
    margin-left: 10rem;
    margin-right: 10rem;
}
